
//  About section rules 
    #section-aboutme figure img {
       width: 60%;
      margin: auto;          
    }
    #section-aboutme p{
      font-size: 1.1em;      
    }

    #section-aboutme figcaption p,
    #section-aboutme figcaption a {
      padding: 0;
      margin: 0;
      font-size: .8rem;
      line-height: 1.2;
      font-weight: 600; }
      
          
  #section-aboutme-a {
    margin-top:0;
    padding-top:0;
  }

  #section-aboutme-a .box {
    width: 300px;
    margin-bottom: 1em;
    padding:1em .5em;
    background-image:linear-gradient(to bottom right,rgba(0, 100, 114, 0.5),rgba(0, 215,114, 0.5)); 
}
  
  