// Contact rules
.card-content {
  padding: 0em 1em;

}

#contact .map {
  margin-bottom: 40px;
}

#contact aside {
  position: relative;
}
// scroll Arrow
#upArrow {
  color: rgb(129, 127, 127);
  position: fixed;
  bottom: 180px;
  right: 40px;
}


#contact .map {
  padding-top: 3rem;
}

#section-contact h1 {
  padding-bottom: 3rem;
}

#section-contact .box {
  width: 360px;
  padding: 1.5em;
}

#section-contact .box:first-child {
  background: #2e8be7;
}

#section-contact .box:nth-child(2) {
  background-image: linear-gradient(to bottom right, rgba(0, 100, 114, 0.5), rgba(0, 215, 114, 0.5));
}

#section-contact .box {
  grid-column: span 2;
}