// Contact rules
.card-content {
  padding: 0em 1em;

}

#contact .map {
  margin-bottom: 40px;
}

#contact aside {
  position: relative;
}
// scroll Arrow
#upArrow {
  color: $brand-color;
  position: fixed;
  bottom: 180px;
  right: 40px;
}


#contact .map {
  padding-top: 3rem;
}

#contact h1 {
  padding-bottom: 3rem;
}

#contact .box {
  width: 360px;
  padding: 1.5em;
  background-image: linear-gradient(to bottom right, rgba(0, 100, 114, 0.5), rgba(0, 215, 114, 0.5));
  grid-column: span 2;
}

#availability {
  list-style-type: none;
  margin-top:.9rem;
  margin-bottom:0;
  padding-bottom:0;
}