
//  Rules for landing page & related elements
 .btn{
   display:inline-block;
   background: $brand-color;
   padding:.3rem 2rem .6rem;
   margin:1rem 0 .4rem;
   text-decoration: none;
   font-size: 1.2em;
   border-radius: 3rem;
   color:#fff;
   @include easeInOut;
   
   &:hover{
     background: transparent;
     color:set-text-color(transparent);
     border: .8px solid silver;
     @include easeInOut;
   }
 }


p {
  margin: 0;
  padding: 1em 0; }

  #landing .content-wrap,
 .card-content {
  padding: 1em 2.5em 1em;
  text-align: center; 
}

#landing {
  width:100%;
  min-height: 100vh;
  color: #fff;  

  & .bg-image {
    position: relative;
    background: #09d6b4 url("../image/hero_img.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity:1;
    width: 100%;
    min-height: 100vh;
    display:grid;
    justify-content: center;
    align-items: center;
  }
}

  #landing .content-wrap {       
    background: rgba(100, 100, 120, .2);
    line-height: 1.1;
    width:100vw;
    max-width: 100vw;
    height: 100vh;    

    & p {
      padding-bottom: 0;
      font-weight: 400;
      font-size: 1.4rem;
      color: #e9e6e6;
    }

    & .intro2 {
      font-size: 1.1rem;
      margin-top: 0;
      padding-top: .4rem;
    letter-spacing: .04rem; 
  }
  
  & h1 {
    padding-bottom: 1.5em;
    letter-spacing: .3em;
    line-height: 1.7em;
    text-shadow: 1px 0 10px;
    font-weight: 700!important; 
    color:silver;
  }
  & .social-icon {
    margin-top: 10px; 
  
    
    & a {
      color: #fff; 
    
     &:hover {
        color: #0dc1ee;
        transition: all .5s ease; }
    }
  }
 
 & .icon {
    margin-top: 10px;
    position: absolute;
    top: 100px;
    right: 23px;
    display: block; 

    & a {
      background: #fff;
      padding: 3px 5px;
      color: #f03f3f; }  
  }

& .icon-text {
    position: absolute;
    top: 140px;
    right: 23px;
    color: #fff;
    border-bottom: 2px #fff solid; }
      }     
  
#landing .intro {
  visibility: hidden;
  position: relative;
  font-weight: 700;
  max-width: 700px;
  letter-spacing: .1em;
  margin:0 auto;
  border-right: 5px solid #fff;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typeEffect 5s steps(26,end) infinite, blink 1s infinite; 
}

#landing .content-wrap h2{
  color: #e9e6e6;
  }

#landing h1 {
  position: relative;
  animation: moveFromTop 2s forwards;
  transition: all .5s ease; }


@keyframes moveFromTop {
  0% {
    top: -200px; }
  100% {
    top: 10px; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

@keyframes typeEffect {
 from{
    width: 0% } 
  to{
    width:100%;
  }
  }
