// Header rules
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  margin-bottom: 0;
}

// navbar Position relative
.navbar {
  display: flex;
  align-items: center;
  background: $nav-bg;
  height: 70px;
  border-bottom: 1px solid grey;
  box-shadow: 1px 0px 10px;
}

// Brand name
.brand-name {
  color: set-text-color($nav-bg);
  padding: 0 0 0 40px;
  margin-right: auto;
  font-size: 1.5rem;
}
.brand-name a {
  color: set-text-color($nav-bg);
}
.brand-icon-color {
  color: $brand-color !important;
}

// Navbar nav style-bigger screen nav
#navbar-nav {
  list-style-type: none;
  padding-right: 3rem;
  @include linear;

  & li {
    display: inline-block;
    padding: 0.5em 1em;
  }

  & a {
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: set-text-color($nav-bg);
    @include easeInOut;
  }

  & a:hover {
    color: $link-hover;
  }
}

// Menu icon & icon bar
#menu-icon {
  z-index: 4;
  margin-right: 10px;
  cursor: pointer;
  @include linear;

  & .icon-bar {
    width: 35px;
    height: 3.5px;
    background: set-text-color($nav-bg);
    margin-bottom: 0.5rem;
  }

  &.close {
    transform: rotate(180deg);
    background: set-text-color($overlay-bg);

    // @include linear;

    .icon-bar {
      // line-1 rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 9px);
      }

      // line-2 hide
      &:nth-child(2) {
        opacity: 0;
      }

      // line-3 rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}

// small screen nav style
.side-nav {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 20vh;
  padding: 1.5em 2em;
  text-align: center;
  background: lighten($overlay-bg, 9);
  transform: translate3d(-100%, 0, 0);
  @include linear;

  &.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    width: 100%;
  }

  & ul li {
    list-style-type: none;
    padding: 5px;
  }

  & ul li a {
    text-decoration: none;
    color: set-text-color($overlay-bg);
    text-transform: uppercase;
    font-size: 1.2rem;
    @include easeInOut;

    &:hover {
      color: $link-hover;
    }
  }
}

.active {
  background: $active;
  padding: 6px 14px;
  color: set-text-color($active) !important;
}

#main-footer {
  background: linear-gradient(
    45deg,
    $overlay-bg,
    $overlay-bg 20%,
    rgba(0, 0, 0, 0.6)
  );
  color: set-text-color($overlay-bg);
  min-height: auto;
  width: 100%;
  padding: 3rem 1.3rem;
  font-size: 1.2em;
  line-height: 1em;
  & a {
    color: $nav-color;
  }
  & a:hover {
    color: $link-hover;
  }
  & .flex {
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
  }
}
